body {
    margin:0;
    background-color: #F8F8F8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;            
    color: #A0A0A0 ;
}

header {
    display: inline-block;
    width: 800px; 
    margin-top: 50px; 
    margin-left: calc(50% - 400px);
    color: #A0A0A0;
}
header > img {
    float:left;
}

nav {
    float: right; 
    width:50%;
    margin-top: 10px; 
    margin-left: calc(50% - 400px); 
    padding: 22px;
    
}

main {
    display: inline-block;
    width: 800px; 
    margin-top: 0; 
    margin-left: calc(50% - 400px);
    margin-right: calc(50% - 400px);
    margin-bottom: 0;
}
nav > a {
    float: left; 
    font-size: 16px; 
    text-decoration: none;
    padding: 8px; 
    border-radius: 20px; 
    line-height: 20px;
    color: #A0A0A0; 
    border: 4px solid transparent;
}
nav > a:last-child {
    text-transform: uppercase; 
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    border-color: #A0A0A0;
}
div {
    display: inline-block; 
    margin-left: 0; 
    margin-top: 0; 
    margin-right: 0; 
    justify-content: left;
    width: 50%; 
}
main > img {
    float: right; 
    width:50%; 
    margin-top: 0;
}
h1 {
    display: inline-block; 
    width: 100%; 
    margin: 0; 
    font-size: 80px; 
    margin-top: 10%;
}
p {
    display: inline-block; 
    margin: 0; 
    font-size: 20px; 
    width:100%; 
}